{% extends 'base.html.twig' %}


{% block body %}
<div class='myback'> 
<h1 class="text-center"> Bienvenue dans Hello Doc ! </h1>
<div class='maindiv'> 
    <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="jumbotron">
                            <p>
                                Déjà patient !
                            </p>
                            <p >
                                <a class="btn btn-primary btn-lg " href="/login">
                                    <i class="fa fa-users" aria-hidden="true"></i> Connexion
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="jumbotron">
                            <p>
                                Vous êtes un nouveau patient?
                            </p>
                            <p>
                                <a class="btn btn-primary btn-lg" href="/register">
                                    <i class="fa fa-lock" aria-hidden="true"></i> Inscrire Ici
                                </a>
                            </p>
                        </div>
                    </div>

                        </div> 
                    </div>
                </div>
    </div>     
     
</div>      
{% endblock %}
