{% extends 'base.html.twig' %}


{% block body %}
<h1 class="text-center"> Bienvenue dans Hello Doc ! </h1>

    <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="jumbotron">
                            <p>
                                Déjà patient !
                            </p>
                            <p >
                                <a class="btn btn-primary btn-lg " href="/login">
                                    <i class="fa fa-users" aria-hidden="true"></i> Connexion
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="jumbotron">
                            <p>
                                Vous êtes un nouveau patient?
                            </p>
                            <p>
                                <a class="btn btn-primary btn-lg" href="/register">
                                    <i class="fa fa-lock" aria-hidden="true"></i> Inscrire Ici
                                </a>
                            </p>
                        </div>
                    </div>

                    {# <div class="col-md-6 offset-md-3">
                        <div class="jumbotron">
                            <p>
                                Vous êtes un Medcin ?
                            </p>
                            {# <p>
                                <a class="btn btn-primary btn-lg" href="{{ path('app_medcin_register') }}">
                                    <i class="fa fa-lock" aria-hidden="true"></i> Inscrire Ici
                                </a>
                                <a class="btn btn-primary btn-lg" href="{{ path('Medcin_Login') }}">
                                    <i class="fa fa-lock" aria-hidden="true"></i> Connxion entant que Docteur
                                </a>
                            </p> #}
                        </div> #}
                    </div>
                </div>
    </div>            
{% endblock %}
