{% extends 'base.html.twig' %}

{% block title %}Rendezvous index{% endblock %}

{% block body %}
{% include "inc/navigation.html.twig" %}

    <h1>Rendezvous index</h1>

    <table class="table">
        <thead>
            <tr> 
                <th>Date et heure de RDV </th>
                <th>NOm du Docteur  </th>
                <th>Prenom du Docteur  </th>
            </tr>
        </thead>
        <tbody>
        {% for rendezvou in rendezvouses %}
        {% for user in user %}

            <tr>
                <td>{{ rendezvou.date_rdv ? rendezvou.date_rdv|date('Y-m-d  H:i:s' )  }}</td>
                <td>{{ user.nom}}</td>
                <td>{{ user.prenom}}</td>
               
               
            </tr>
                    {% endfor %}

        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
