{% extends 'base.html.twig' %}

{% block title %}Specialite index{% endblock %}

{% block body %}
    <h1>Specialite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_specialite</th>
                <th>Specialite_medcin</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialite in specialites %}
            <tr>
                <td>{{ specialite.idSpecialite }}</td>
                <td>{{ specialite.specialiteMedcin }}</td>
                <td>{{ specialite.slug }}</td>
                <td>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('specialite_new') }}">Create new</a>
{% endblock %}
